
/* Général */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

input {
    background: #edf0f5;
    border: none;
    border-radius: 5px;
    height:2.5rem;
    font-size: 1.2rem;
    padding: 10px;
    margin: 3px 0;
}

.container--login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container--login--tosignup {
    position: absolute;
    top: 2rem;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FD2D01;
    width: 120px;
    height: 3rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    transition: all ease 0.4s;
}




.signup_link::before {
    content: 'Vous êtes nouveau chez Groupomania? cliquez ici ';
    position: absolute;
    font-size: 0.8rem;
    left: -250px;
    width: 230px;
}

.login_link::before {
    content: 'Vous avez déjà un compte? cliquez ici ';
    position: absolute;
    font-size: 0.8rem;
    left: -250px;
    width: 230px;
    text-align: right;
}

.container--login--tosignup::after {
    content: '🢂';
    position: absolute;
    font-size: 0.8rem;
    left: -20px;
    width: 300px;
}

.container--login--form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
}
.container--login--formPart {
    display: flex;
    flex-direction:column;
    margin-bottom: 20px;
}
