@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
}



a {
    text-decoration: none;
}